# Managed by ansible

server {
  listen {{ pxe_server_preseed_listen }};

  autoindex on;

  location /ubuntu-16.04 {
    alias {{ pxe_server_preseed_iso_mount_path }};
  }

  location /preseed {
    alias {{ pxe_server_preseed_file_path }};
  }
}
